section{
	float: left;
	width: 50%;
}
aside{
	margin-top: 15px;
	float: right;
	width: 50%;
}
table{
	border-collapse: separate;
	border-spacing: 5px 12px;
	background: black;
}
tr,td{
	border: 1px solid black;
}
#idCortina{
	background: white;
	font-size: 50px;
}
#idRed{
	background: black;
	width: 60px;
	border-radius: 100%;
}
#idYellow{
	background: red;
	width: 60px;
	border-radius: 100%;
}
#idGreen{
	background: green;
	width: 60px;
	border-radius: 100%;
}